* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend Tera", sans-serif;
}
body {
    background: #ECECEC;
}
img {
    width: 100%;
}
.primary-color {
    color: #007E85;
}

.secondary-color {
    color: #6EAB36;
}
.container {
    padding: 20px 100px;
}

.basic-btn {
    font-size: 20px;
    font-weight: 500;
    color: #007E85;
    background: transparent;
    padding: 4px 8px;
    outline:  none;
    border: none;

}

.primary-btn {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: #007E85;
    padding: 13px 40px;
    border: none;
    outline: none;
    border-radius: 8px;
}
header {
    padding: 26px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    max-width: 254px;
    width: 100%;
}
.nav-link {
    display: flex;
    column-gap: 26px;
    align-items: center;
}

.nav-link-list {
    list-style-type: none;
}

.nav-link-list a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.nav-link-list a:hover {
    color: #007E85;
}

.nav-link-list a.active {
    color: #007E85;
    border-bottom: 2px solid #007E85;
}

.nav-link-list a:active {
    color: #007E85;
    border-bottom: 2px solid #007E85;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .left {
    max-width: 657px;
    width: 100%;

}

.hero-heading {
    font-size: 40px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

.hero-heading span{
    font-size: 40px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

.hero .left p{
    margin-top: 30px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

.hero .left .action-btns{
    margin-top: 100px;
    display: flex;
    gap: 46px;
}

.watch-btn {
    display: flex;
    align-items: center;
    gap: 25px;
    outline: none;
    border: none;
    background: transparent;

}

.watch-btn .play-rounded {
    width: 51px;
    height: 51px;
    background: #007E85;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.watch-btn .play-rounded .material-symbols-sharp{
    font-size: 50 !important;
    color: #fff;

}

.search {
    padding: 16px 38px 38px;
    background-color: #FAFAFA;
    border-radius: 16px;
}
.search  h3{
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 26px;
}

.inputs-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs-wrapper .inputs{
    display: flex;
    align-items: center;
    gap: 24px;
}

.search input[type='text'] {
    padding: 10px 20px;
    max-width: 296px;
    width: 100%;
    height: 66px;
    background: transparent;
    border: 1px solid #007E85;
    border-radius: 8px;
    outline: none;

}
.toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}


/* ================= Toggle button =========== */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007E85;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007E85;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.result {
    margin-top: 100px;
}
.result h5 {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.result-content-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.result-content-wrapper .result-content {
    text-align: center;
}

.result-content-wrapper .result-content .number {
    font-size: 44px;

}

.result-content-wrapper .result-content .number span{
    opacity: 50%;
}